body {
      text-align: center;
}
h1 {
    background-color: green;
    font-size: 40px;
      text-align: center;
}

h2 {
    font-size: 30px;
      text-align: center;
}

p {
    font-size: 18px;
      text-align: center;
}
blockquote{
  font-size: 25px;
  text-align: center;
}
footer{
  font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
