/*
Index or to do list
-layout
-fonts
-iamages
*/




/* Styles that apply to everything in general*/

html {
box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit;
}

body {
  font-family: Merriweather, serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 1.5;
  text-align: left;
}


/* Header styles and layouts */

header {
    background-color: gray;
    background-size: cover;
    color: black;
    text-align: center;
  }

nav {
  text-align: center;
  background-color: black;
  font-size: 14px;
  padding: 20px;
  width: 100%;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

nav ul li a {
  color: white;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #6c7069;
}


/* Set other font styles */

h1 {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 68px;
  font-weight: 700;
  color: black;
  line-height: 1.2;
  padding: 20px 20px 10px 20px; /* The rule of TRBLE which means Top Right Bottom Left */

/* SOMETHING WRNG WITH THIS
 .summary {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: black;
  line-height: 1.3;
  padding-bottom: 30px;
  margin: 0px 60px;
}
*/

/* header h3 byline */
#author {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 20px;
}

h2, h3, h4 { color: black; }

h2 {
  font-size: 26px;
  text-align: center;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size:18px;
}


.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

blockquote {
  display: block;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font: bold;
  line-height: 1.3;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
